
<div class="demo-buttons">
	<button class="demo-button" id="banner-standard">Standard banner</button>
	<button class="demo-button" id="banner-standard-html">Standard banner with HTML</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-small">Small banner</button>
	<button class="demo-button" id="banner-small-html">Small banner with HTML</button>
	<button class="demo-button" id="banner-small-action">Small banner with action</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-small-promo">Small promo banner</button>
	<button class="demo-button" id="banner-small-promo-html">Small promo banner with HTML</button>
	<button class="demo-button" id="banner-small-promo-action">Small promo banner with action</button>
</div>
