
<div class="demo-buttons">
	<button class="demo-button" id="banner-standard">Standard banner</button>
	<button class="demo-button" id="banner-standard-html">Standard banner with HTML</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-promo">Promo banner</button>
	<button class="demo-button" id="banner-promo-html">Promo banner with HTML</button>
	<button class="demo-button" id="banner-promo-action">Promo banner with action</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-promo-standout">Promo standout banner</button>
	<button class="demo-button" id="banner-promo-standout-html">Promo standout banner with HTML</button>
	<button class="demo-button" id="banner-promo-standout-action">Promo standout banner with action</button>
</div>
